html {
	overflow-y: scroll;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px;
	padding: 0px;
	color: #3C0;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: normal;
}
h2 {
	font-size: 100%; font-weight: normal;
}
h3 {
	font-size: 100%; font-weight: normal;
}
h4 {
	font-size: 100%; font-weight: normal;
}
h5 {
	font-size: 100%; font-weight: normal;
}
h6 {
	font-size: 100%; font-weight: normal;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr {
	border: 0px currentColor;
}
acronym {
	border: 0px currentColor;
}
.clearfix::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
* html .clearfix {
	zoom: 1;
}
*:first-child + html .clearfix {
	zoom: 1;
}
.clear {
	height: 0px; overflow: hidden; clear: both; font-size: 0px;
}
body {
	background: url(bg-body.png) repeat-x left top rgb(237, 239, 242); text-align: center; color: rgb(51, 51, 51); line-height: 1.2; font-family: Microsoft YaHei; font-size: 12px;
}
a {
	color: rgb(68, 68, 68); text-decoration: none;
}
a:hover {
	color: rgb(1, 116, 167); text-decoration: none;
}
#wrapper {
	margin: 0px auto; width: 950px; text-align: left; position: relative;
}
#header {
	background: url(bg-header.jpg) no-repeat 0px 0px; height: 186px;
}
#header h1 {
	background: url(logo.gif) no-repeat; text-indent: -9999px; margin-top: 15px; margin-left: 7px; float: left; _display: inline;
}
#header h1 a {
	width: 309px; height: 107px; display: block;
}
#topright {
	float: left;
}
#nav {
	background: url(bg-nav.png) no-repeat left top; margin: 0px 0px 46px 91px; padding: 0px 0px 0px 10px; width: 525px; height: 34px; text-align: center;
}
#nav li {
	float: left;
}
#nav li a {
	padding: 0px 13px; height: 34px; color: rgb(255, 255, 255); line-height: 34px; font-size: 14px; text-decoration: none; float: left; display: block; _display: inline;
}
#nav li a:hover {
	text-decoration: underline;
}
#nav li a.header-new {
	position: relative;
}
#nav li a.header-new img {
	border: currentColor; top: 4px; right: 0px; position: absolute;
}
#topright p {
	margin: 0px; padding: 0px 20px 0px 23px; width: 585px; color: rgb(255, 255, 255); line-height: 24px; font-size: 14px;
}
#main {
	background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(205, 205, 205) rgb(205, 205, 205); margin: 0px 0px 0px 7px; width: 934px;
}
#main_bg {
	background: url(bg-content.png) repeat-y rgb(255, 255, 255); width: 934px;
}
#sidebar {
	width: 216px; padding-bottom: 20px; float: left; _display: inline;
}
#sidebar ul {
	
}
#sidebar li {
	height: 39px; line-height: 39px; padding-left: 75px; font-size: 14px;
}
#sidebar li.focus {
	background: url(sub_nav_focus.png) no-repeat 0px 0px rgb(255, 255, 255); font-weight: bold;
}
.other-help {
	background: rgb(233, 251, 255); margin: 30px auto 0px; padding: 10px 0px 2px; border: 1px dashed rgb(201, 224, 240); width: 180px;
}
.other-help dt {
	margin: 0px auto; width: 155px; text-align: left; overflow: hidden;
}
.other-help dd {
	margin: 0px auto; width: 155px; text-align: left; overflow: hidden;
}
.other-help dt {
	font-weight: bold;
	color: #C30;
}
.other-help dt img {
	margin-right: 6px; vertical-align: middle;
}
.other-help dd {
	padding: 2px 0px 8px; color: rgb(68, 68, 68);
}
.other-help dd a {
	color: rgb(1, 116, 167); font-size: 12px; text-decoration: underline;
}
.other-help dd.downlight {
	color: rgb(153, 153, 153);
}
.icon_forum {
	background: url(icon.png) no-repeat 13px -214px; height: 16px; padding-left: 33px;
}
.icon_feedback {
	background: url(icon.png) no-repeat -165px -214px; height: 16px; padding-left: 35px;
}
.icon_phone {
	background: url(icon.png) no-repeat -345px -214px; height: 16px; padding-left: 35px;
}
#sub_right {
	padding: 0px 18px;
	width: 682px;
	float: right;
	font-size: 14px;
}
.content {
	padding-bottom: 14px;
}
.content h3 {
	color: rgb(1, 116, 167);
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.content h4 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	color: rgb(204,51,0);
}
.content p {
	padding: 5px; color: rgb(102, 102, 102); line-height: 1.8; text-indent: 2em;
}
#sub_right .tips {
	background: url(icon.png) no-repeat 22px -281px; margin: 17px 0px 27px; padding: 17px 0px 0px 43px; height: 17px; line-height: 17px; border-top-color: rgb(205, 205, 205); border-top-width: 1px; border-top-style: solid;
}
.tips a {
	color: rgb(1, 116, 167);
}
#foot {
	padding: 0px 0px 0px 7px;
}
#box {
	background: url(bg-footer.png) no-repeat 653px 21px rgb(225, 238, 251); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(191, 208, 230) rgb(191, 208, 230); width: 934px; height: 183px;
}
.footer-nav {
	background: url(bg-foot.png) no-repeat 64px 25px; padding: 34px 0px 0px 314px;
}
.footer-nav dl {
	margin: 0px; padding: 0px; width: 120px; text-align: left; line-height: 20px; float: left;
}
.footer-nav dl dt {
	margin: 0px; padding: 0px;
}
.footer-nav dl dd {
	margin: 0px; padding: 0px;
}
.footer-nav dl dt {
	font-weight: bold;
}
.footer-nav dl dd a {
	color: rgb(68, 68, 68); text-decoration: none;
}
.footer-nav dl dd a:hover {
	color: rgb(1, 116, 167); text-decoration: underline;
}
.footer-nav dl dd .highlight {
	color: rgb(255, 0, 0);
}
.copyright {
	background: url(bg-copyright.png) repeat-x left top; margin: 0px 0px 0px 7px; padding: 0px 42px; width: 852px; height: 46px; color: rgb(118, 118, 118); line-height: 46px;
}
.copyright p {
	margin: 0px; padding: 0px; float: left;
}
.copyright span {
	float: right;
}
.copyright span a {
	color: rgb(1, 116, 167); text-decoration: none;
}
.float-layer {
	background: url(bg-float.png) no-repeat; top: 381px; width: 20px; height: 63px; text-align: center; position: absolute; z-index: 999;
}
.float-layer a {
	width: 14px; height: 12px; display: block;
}
.btn-top {
	background: url(btn-top.png") no-repeat left top; margin: 8px auto 25px; _margin: 8px auto 22px;
}
.btn-bottom {
	background: url(btn-bottom.png) no-repeat left top; margin: 0px auto 6px;
}
